__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.venv
venv
env
ENV
.env
.git
.gitignore
.vscode
.idea
*.sqlite3
db.sqlite3
*.log
local.conf
staticfiles
media
test_uploads
test
.pytest_cache
.coverage
htmlcov
